.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sketchpad {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    min-width: 600px;
    border-width: 80px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
}
.container, html, body {
    margin: 0;
    height: 100%;
}

.pix {
    background-color: lightgray;
    flex: auto;
    min-width: 6.25%;
}